{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="content_area">
        <h1>{{ article.name }}</h1>
        <h1>{{ article.type }}</h1>
        <h1>{{ article.year }}</h1>
        <h1>{{ article.country }}</h1>
        <h1>{{ article.image }}</h1>
        <hr>
        <a href="/">Go Back</a>
        </div>
        <footer>
            <p> All right reserved <p>
        </footer>   
        
    </div>
{% endblock %}
